<!-- <p>view works!</p> -->

 <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel3">Student Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>  
         <table class="table table-striped" >
             <tr>
                  <td colspan="2"><strong>Name:</strong></td>
             </tr>
             <tr>
              <td colspan="2"><strong>RollNo:</strong></td>
             </tr>
             <tr>
               <td><strong>Subject</strong></td>
               <td><strong>Marks</strong></td>
             </tr>
         
             <tr>
              <td>RDBMS</td>
              <td>60</td>
            </tr>
            <tr>
              <td>C</td>
              <td>56</td>
            </tr>
            <tr>
              <td>DAA</td>
              <td>68</td>
            </tr>
            <tr>
              <td>C++</td>
              <td>64</td>
            </tr>
         </table>
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> 
