<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="card-header text-center text-light bg-success m-0 p-0">
                <h1>Students</h1>
            </div>
            
            <button type="button" (click)="addStudent()" class="btn  btn-sm btn-primary w-100"  data-bs-toggle="modal" data-bs-target="#exampleModal3">
                Create New Student
            </button>
            
            <div>
              <table class="table table-success table-striped p-0">
                <thead>
                    <tr>
                        <td><strong>Name</strong></td>
                        <td><strong>Roll</strong></td>
                        <td><strong>Details</strong></td>
                        <td><strong>Edit</strong></td>
                        <td><strong>Delete</strong></td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let student of students">
                        <td> {{ student.name }}</td>
                        <td>{{ student.roll }}</td>
  
                        <td><a  type="button" (click)="viewStudent(student._id)" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                         Detials
                        </a></td>
                        <td ><a type="button" (click)="editStudent(student._id)" class="btn  btn-sm btn-outline-success" data-bs-toggle="modal" data-bs-target="#exampleModal3" >
                          Edit
                        </a></td>
                        <td><a type="button"  class="btn  btn-sm btn-outline-danger" (click)="deleteStudent(student._id)">
                          Delete
                        </a></td>
                        
                    </tr>
                </tbody>
              </table>
            </div>
          
        </div>
    </div>
</div>

<!-- Show employee details    -->


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Student Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       
         <table class="table table-striped" >
          <tbody>
             <tr>
                  <td colspan="3"><strong>Name : </strong>{{ Onestudent?.name}}</td>
             </tr>
             <tr>
               <td colspan="3"><strong>RollNo : </strong>{{ Onestudent?.roll}}</td>
             </tr>
             <tr>
              <td><strong>Country</strong></td>
              <td><strong>State</strong></td>
              <td><strong>City</strong></td>
            </tr>
            <tr>
              <td>
                <ul>
                  <li>{{Onestudent?.country}}</li>   
                </ul>
              </td>
              <td>
                <ul>
                  <li>{{Onestudent?.state}}</li>   
                </ul>
              </td>
              <td>
                <ul>
                  <li>{{Onestudent?.city}}</li>   
                </ul>
              </td>
            </tr>
          
             <tr>
               <td colspan="2"><strong>Subject</strong></td>
               <td colspan="1"><strong>Marks</strong></td>
               
             </tr>

              <tr>
                <td colspan="2">
                  <ul *ngFor="let sub of Onestudent?.subject;">
                    <li>{{sub.subject}}</li>   
                  </ul>
                </td>
                <td colspan="1">
                  <ul  *ngFor="let mrk of Onestudent?.marks">
                    <li>{{mrk.mark}}</li>   
                  </ul>
                </td>
              </tr>
              
      
          </tbody>
         </table>
     
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div> 





 <!-- Create New student  -->
<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
 <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel3">Create Student</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
       <div class="myForm">
        <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="col-md-12">
          <label for="">Name:-</label>
          <input name="name" formControlName="name" type="text" id="name" class="form-control"/>
        </div>
        <div>
          <label for="">RollNo:</label>
          <input name="roll" formControlName="roll" type="text" id="roll" class="form-control"/>
        </div>
        
        <div>
          <label>Select Country</label>
          <select class="form-control" formControlName="country" (change)="ChangeCountry($any($event.target).value)"  >
             <option selected [ngValue]="null">Select Country</option>
             <option *ngFor="let country of countries;" [value]="country.id">{{country.name}}</option>
          </select>
       </div>
        <div>
          <label>Select State</label>
          <select class="form-control" formControlName="state" (change)="ChaneState($any($event.target).value)"  >
             <option [ngValue]="null">Select State</option>
             <option *ngFor="let state of states" [value]="state.id">{{state.name}}</option>
          </select>
       </div>
        <div>
           <label>Select City</label>
           <select class="form-control" formControlName="city">
              <option [ngValue]="null">Select City</option>
              <option *ngFor="let city of cities" [value]="city.id">{{city.name}}</option>
           </select>
        </div>
           <div>
           <label for="file">Upload File</label>
           <input formControlName="file" id="file" type="file" class="form-control" (change)="onFileChange($event)">
            </div> 
        <!-- <button class="btn btn-primary" type="submitFile()">File Upload</button> -->

        <div>
          <a type="button" (click)="onAddStuAndMark()" class="btn btn-sm btn-warning my-2 w-100">Add</a>
        </div>

        <div class="row"> 

          <div class="col-md-6" formArrayName="subject" >
            <div *ngFor="let data of SubControls; let i = index">
              <label for="">Subject</label>
              <input name="subject" [formControlName]="i" type="text" id="subject" class="form-control" />
            </div>
          </div>
          
          <div class="col-md-6" formArrayName="marks">
            <div  *ngFor="let data of markControls; let i = index">
              <label for="">Marks</label>
              <input name="marks" [formControlName]="i" type="number" id="marks" class="form-control" />
            </div>
          </div>

        </div>
       
        <hr>
        <button *ngIf="createButton" type="submit" class="btn btn-primary">Create</button>
        <button *ngIf="updateButton" type="submit" class="btn btn-primary">Update</button>        
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> 
        
       </form>
       </div>

    </div>  
  </div>
</div>
</div> 







  



