<!-- <p>edit works!</p> -->

<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel2">Edit Student</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
           <form [formGroup]="editData">
               <table>
                  <tr>
                    <td>Name:-<input formControlName="name" type="text" id="snameedit" class="form-control"/></td>
                  </tr>
                  <tr>
                    <td>RollNo:<input formControlName="roll" type="text" id="RollNo" class="form-control" /></td>
                  </tr>
                  <tr>
                    <td>Subject:</td>
                    <td>Marks</td>
                  </tr>
                  <tr>
                    <td><input formControlName="RdbmsSubject" type="text" id="name" class="form-control" placeholder="RDBMS"/></td>
                    <td><input formControlName="RdbmsMarks" type="number" id="name" class="form-control" placeholder="67"/></td>
                  </tr>
                  <tr>
                    <td><input formControlName="RdbmsSubject" type="text" id="name" class="form-control" placeholder="c"/></td>
                    <td><input formControlName="RdbmsMarks" type="number" id="name" class="form-control" placeholder="63"/></td>
                  </tr>
                  <tr>
                    <td><input formControlName="RdbmsSubject" type="text" id="name" class="form-control" placeholder="DAA"/></td>
                    <td><input formControlName="RdbmsMarks" type="number" id="name" class="form-control" placeholder="69"/></td>
                  </tr>
                  <tr>
                    <td><input formControlName="RdbmsSubject" type="text" id="name" class="form-control" placeholder="C++"/></td>
                    <td><input formControlName="RdbmsMarks" type="number" id="name" class="form-control" placeholder="64"/></td>
                  </tr>
               </table>   
           </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

